/* ANCHOR - utility */

*{Padding: 0;
Margin: 0;
Box-sizing: border-box}

.clearfix::after{
content: "";
display: table;
clear: both;}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* NOTE - Note
    Section
        width: 1300px;
        margin-left: 25%;
*/

/* ANCHOR INIZIO header */

header{
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.cont-header{
    display: block;
}

header a{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 20px;
    color: black}

/* ANCHOR Inizio blocco di sinistra */

.header-cont-left{
    /* width: 600px; */
    height: 100px;
    /* border: 1px solid black; */
    float: left;}

.img-logo{
    float: left;
    margin-left: 15px;
    margin-top: 30px;}

.header-nav-left{
    float: left;
    margin-top: 35px;
    margin-left:10px;}

/* ANCHOR Inizio blocco di destra */

.header-cont-right{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    height: auto;
    display: inline-block;}

.header-cont-right a:nth-child(4){
    background-color: rgb(57, 18, 231);
    color: white;
    padding: 5px 10px;}

/* SECTION 1° Inizio */

.first-section{
    position: relative;
    height: 900px;
    background-color: #B4D0E7;
    width: 100%;
}

    .first-section-title{
        position: absolute;
        font-size: 4em;
        text-align: left;
        left: 10%;
        right: 10%;
        top: 100px;
    }

    .first-section-left{
        float: left;
        position: absolute;
        width: 30%;
        margin-top: 450px;
        margin-left: 10%;
        font-size: 1.5em;
    }

    .first-section-left-buttom{
        margin-top: 30px;
        background-color: rgba(0, 0, 255, 0.76);
        /* color: white; */
        width: 400px;
        padding: 10px;
        text-align: center;
    }
        .first-section-left-buttom a{
            color: white;
            font-size: 0.9em;
        }
/* FIXME Aggiustare freccia, magari con una immagine */
    .first-section-left-arrow{
        margin-top: 50px;
        font-size: 6empx;
    }

    .first-section-righ{
        width: 80%;
        transform: scale(45%);
        float: right;
        margin-top: 200px;
    }

/* !SECTION */
/* SECTION 2° inizio */

.second-section{
    width: 100%;
    height: 1800px;
    position: relative;
}

    .second-section-title{
        position: absolute;
        width: auto;
        height: 50px;
        font-size: 3em;
        text-align: center;
        vertical-align: middle;
        left: 0%;
        right: 0%;
        top: 250px;
    }

    .second-section-input{
        position: absolute;
        width: auto;
        height: 50px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 1.1em;
        top: 310px;
        left: 450px;
    }

.second-section-plan{
    height: 900px;
    display: flex;
    width: 1300px;
    margin-left: 25%;}

    .second-section-left{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;}

    .second-section-middle{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;
        margin-left: 50px;}

    .second-section-right{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;
        margin-left: 50px;}

    .second-section-left-header{
        font-size: 2em;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 3px;
}

.free-try{
    background-color: blue;
    text-align: center;
    padding: 15px;
    width: 300px;
    margin-left: 5px;
}

.free-try a{
    color: white;
    text-decoration: none;
}

.buy-now a{
    color: blue;
}
    .second-section-left-body{
        margin-left: 10%;
        margin-top: 3%;
    }

    .list-text-check{
        display: flex;
        margin-bottom: 25px;}

            .check{
                height: 20px;
                width: 5%;
                color: blue;}
            .text-check{
                height: 20px;
                width: 80%;}

/* ANCHOR - FOOTER second section */
/* FIXME - aggiustare altezza "footer-second-section" */
.footer-second-section{
    width: 1300px;
    height: 350px;
    border: 1px solid black;
    margin-top: 25px;
    width: 1300px;
    margin-left: 25%;}

    .footer-second-section-header{
        text-align: center;
        font-size: 1.1em;
        height: 13%;
        border-bottom: 1px solid black;
        padding: 5px;}

    .footer-second-section-header-left{
        float: left;
        width: 68%;
        height: 87%;
        padding: 30px;}

    .footer-second-section-header-right{
        float: right;
        width: 32%;
        height: 10%;
        text-align: center;
        padding: 8px;
        background-color: blue;
        color: white;
        margin-top: 2%;}
        .footer-second-section-header-right a{
            color: white;
            text-decoration: none;}

 /* !SECTION */
/* SECTION 3° Inizio */
.third-section{
    width: 1300px;
    margin-left: 25%;
    height: 500px;
    display: flex;}

    .third-section-left{
        width: 50%;
        height: 100%;
        background-image: url('./img/partner.png');
        background-repeat: no-repeat;
        background-size: contain;}

    .third-section-right{
        width: 30%;
        height: 50%;
        margin-top: 30px;}

        .third-section-right h1{
            font-size: 1.3em;
            font-weight: 900;}

        .third-section-right h3{
            font-size: 1em;
            font-weight: 500;}

        .third-section-right-button{
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            width: 45%;}

        .third-section-right-button a{
            text-decoration: none;}

/* !SECTION */
/* SECTION - 4° Sezione Inizio */
.fourth-section{
    width: 1300px;
    margin-left: 25%;
    margin-top: 75px;
    height: 1000px;
}

/* NOTE - fourth-section common */
.block-dim{
    width: calc(100% / 3);
}
    .fourth-section-header{
        width: 100%;
        height: 60px;
        padding: 5px;
        font-size: 1.5em;
        font-weight: bold;
    }

    .fourth-section_body_row-one{
        display: flex;
        height: 48%;
    }
        .fourth-section_body_row-one_left{
            /* background-color: red; */
        }
            .fourth-section_body_row-one_left_img{
                background-image: url(./img/business-feature-switching-tools.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;
            }

        .fourth-section_body_row-one_middle{
            margin-left: 10px;
        }
            .fourth-section_body_row-one_middle_img{
                background-image: url(./img/business-feature-coordinate-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;
            }

        .fourth-section_body_row-one_right{
            margin-left: 10px;}

            .fourth-section_body_row-one_right_img{
                background-image: url(./img/business-feature-multi-device.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

    .fourth-section_body_row-two{
        display: flex;
        height: 48%;}

        .fourth-section_body_row-two_left{
}

            .fourth-section_body_row-two_left_img{
                background-image: url(./img/business-feature-integrations-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

        .fourth-section_body_row-two_middle{
            margin-left: 10px;}

            .fourth-section_body_row-two_middle_img{
                background-image: url(./img/business-feature-send-files-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

        .fourth-section_body_row-two_right{
            margin-left: 10px;}

            .fourth-section_body_row-two_right_img{
                background-image: url(./img/business-feature-security.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

/* !SECTION */

/* SECTION 5° Inizio */
/* FIXME Caratteri e colori */
.fifth-section{
    width: 100%;
}

.fifth-section_Header{
    margin-left: 25%;
    margin-top: 150px;
    width: 700px;
    margin-bottom: 50px;
}
    .fifth-section_Header div{
        font-size: 2.5em;
        text-align: left;
        font-weight: 900;
    }

    .fifth-section_Header a{
        color: blue;
        font-size: 1.3em;

    }

.fifth-section_cont-img{
    width: 100%;
    height: 400px;
    display: flex;
}

/* ANCHOR 5° Sezione cont-img padre sinistra */
    .fifth-section_cont-img_left{
        width: calc(100% / 3);
        height: 400px;
        /* background-color: crimson; */
        display: inline-block;
}

/* ANCHOR Classi comuni ai loghi */
        .logo{
            filter: invert(1);
            position: absolute;
            height: 100px;

        }

        .logo img{
            position: relative;
            width: 35%;
            top: 50%;
            left: 50%;
            transform:translate(-110%, -10%)
        }

/* ANCHOR 5° Sezione cont-img sinistra alta */
        .fifth-section_cont-img_left_hight{
            height: 50%;
        }
            .fifth-section_cont-img_left_hight_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: #A2D39B;
                border: 10px solid #D0E9CD
            }


            .fifth-section_cont-img_left_hight_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: #61082B;
            }

/* ANCHOR 5° Sezione cont-img sinistra bassa */
        .fifth-section_cont-img_left_low{
            height: 50%;
            background-color: white;}

            .fifth-section_cont-img_left_low_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: #0093CE;
            }

            .fifth-section_cont-img_left_low_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: #FF1C1C;
            }

/* ANCHOR 5° Sezione cont-img padre centro */
    .fifth-section_cont-img_middle{
        width: calc(100% / 3);
        height: 400px;
        background-color: #F5F5F5;
        display: inline-block;
        padding: 40px;
    }

    .fifth-section_cont-img_middle img{
        width: 30%;
    }

    .fifth-section_cont-img_middle{
        font-size: 1.2em;

    }
/* ANCHOR 5° Sezione cont-img padre destra */
    .fifth-section_cont-img_right{
        width: calc(100% / 3);
        height: 400px;
        display: inline-block;
    }

        .fifth-section_cont-img_right_hight{
            height: 50%;
        }

            .fifth-section_cont-img_right_hight_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: #D5001F;
            }

            .fifth-section_cont-img_right_hight_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: #B4D0E7;
            }

        .fifth-section_cont-img_right_low{
            height: 50%;
            background-color: white;
        }
            .fifth-section_cont-img_right_low_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: rgb(250, 51, 1);

            }

            .fifth-section_cont-img_right_low_right{
                float: left;
                width: 50%;
                height: 100%;
                background-color: rgb(56, 247, 39);

            }

/* ANCHOR - 5° Sezione FOOTER */
.fifth-section_footer{
    height: 400px;
    width: 100%;
    background-color: #B4D0E7;
    position: relative;
}
    .fifth-section_footer_left{
        position: absolute;
        left: 25%;
        top: 50%;
        font-size: 2.5em;
        color: #61082B;
        width: 500px;
        font-weight: bold;
    }

    .fifth-section_footer_right-buttom{
        position: absolute;
        width: 300px;
        text-align: center;
        background-color: white;
        padding: 10px;
        top: 30%;
        left:60%;}

    .fifth-section_footer_right-buttom a{
        text-decoration: none;}

/* !SECTION */
/* SECTION 6° Sezione Inizio */

.sixth-section{
    width: 100%;
    height: 1200px;
    position: relative;}

    .sixth-section_body{
        position: absolute;
        width: 80%;
        height: 75%;
        left: 10%;
        right: 10%;
        top: 100px; 
        bottom: 200px;
    }

    .sixth-section_body_title{
        font-size: 3em;
        font-weight: bold;
    }

    .sixth-section_menu{
        margin-top: 200px;
        height: 100px;
        display: block;
        margin:20px;
        border-style: solid none solid none;
    }

    .sixth-section_menu:hover{
        height: 250px;

    }    

        .sixth-section_menu_list_left{
            float: left;
            margin-top: 35px;
            width: max-content;
            display: inline-block;
        }
    
    .sixth-section_menu_list_right{
        float: right;
        margin-top: 20px;
        display: inline-block;
        font-size: 2em;
        margin-right: 50px;
    }
    .drop-text{
        display: none;
        position: absolute;
        width: 1000px;
        padding: 12px 16px;
        z-index: 1;
        margin-top: 100px;
        margin-left: 20px
    }

    
    .sixth-section_menu:hover .drop-text{
        display: block;
        height: 500px;

        
    }

/* !SECTION */
/* SECTION FOOTER */

footer{
    background-color: black;
}

.footer-body{
    width: 100%;
    height: 400px;
    padding: 200px;
    display: flex;
}

.footer-body_text{
    width: 100%;
    height: 100%;
}

.nav-common a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 1.1em;
}

.footer-body_text_first-nav ul{
    list-style: none;
}

.footer-body_text_first-nav div{
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}


.end-footer{
    color: white;
    width: 100%;
    height: 100px;
    padding: 100px 200px;
}

.end-footer select{
    color: white;
    background-color: black;
}




.sign{
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
}
    .sign span{
        color: red;
        font-size: 2em;
    }

/* !SECTION  */