/* ANCHOR Inizio utility */

*{Padding: 0;
Margin: 0;
Box-sizing: border-box}

.clearfix::after{
content: "";
display: table;
clear: both;}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ANCHOR INIZIO header */

header{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}

.cont-header{
    display: block;}

header a{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 20px;
    color: black}

/* ANCHOR Inizio blocco di sinistra */

.header-cont-left{
    /* width: 600px; */
    height: 100px;
    /* border: 1px solid black; */
    float: left;}

.img-logo{
    float: left;
    margin-left: 15px;
    margin-top: 30px;}

.header-nav-left{
    float: left;
    margin-top: 35px;
    margin-left:10px;}

/* ANCHOR Inizio blocco di destra */

.header-cont-right{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    /* border: 1px solid black; */
    height: auto;
    display: inline-block;}

.header-cont-right a:nth-child(4){
    background-color: rgb(57, 18, 231);
    color: white;
    padding: 5px 10px;}

/* ANCHOR Inizio prima SECTION */

.first-section{
    /* display: block; */
    /* border: 10px solid black; */
    position: relative;
    height: 750px;
    background-color: #B4D0E7;
    width: 100%;
}

.first-container{


}

.first-container-left{
/* border: 1px solid black; */
    float: left;
    position: absolute;
    width: 10%;
    margin-top: 15%;
    margin-left: 10%;
    background-color: rgb(6, 253, 80);

}

.first-container-righ{
/* border: 1px solid black; */
/* background-color: blue; */
    width: 80%;
    transform: scale(50%);
    float: right;
}

/* FIXME centrare meglio il testo */
.first-section-title{
    position: absolute;
    font-size: 4em;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 20px;
}

