/* ANCHOR - utility */

*{Padding: 0;
Margin: 0;
Box-sizing: border-box}

.clearfix::after{
content: "";
display: table;
clear: both;}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/* NOTE - Note
    Section
        width: 1300px;
        margin-left: 25%;
*/

/* ANCHOR INIZIO header */

header{
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.cont-header{
    display: block;
}

header a{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 20px;
    color: black}

/* ANCHOR Inizio blocco di sinistra */

.header-cont-left{
    /* width: 600px; */
    height: 100px;
    /* border: 1px solid black; */
    float: left;}

.img-logo{
    float: left;
    margin-left: 15px;
    margin-top: 30px;}

.header-nav-left{
    float: left;
    margin-top: 35px;
    margin-left:10px;}

/* ANCHOR Inizio blocco di destra */

.header-cont-right{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    height: auto;
    display: inline-block;}

.header-cont-right a:nth-child(4){
    background-color: rgb(57, 18, 231);
    color: white;
    padding: 5px 10px;}

/* SECTION Inizio prima SECTION */

.first-section{
    position: relative;
    height: 900px;
    background-color: #B4D0E7;
    width: 100%;
}

    .first-section-title{
        position: absolute;
        font-size: 4em;
        text-align: left;
        left: 10%;
        right: 10%;
        top: 100px;
    }

    .first-section-left{
        float: left;
        position: absolute;
        width: 30%;
        margin-top: 450px;
        margin-left: 10%;
        font-size: 1.5em;
    }

    .first-section-left-buttom{
        margin-top: 30px;
        background-color: rgba(0, 0, 255, 0.76);
        /* color: white; */
        width: 400px;
        padding: 10px;
        text-align: center;
    }
        .first-section-left-buttom a{
            color: white;
            font-size: 0.9em;
        }
/* FIXME Aggiustare freccia, magari con una immagine */
    .first-section-left-arrow{
        margin-top: 50px;
        font-size: 6empx;
    }

    .first-section-righ{
        width: 80%;
        transform: scale(45%);
        float: right;
        margin-top: 200px;
    }

/* !SECTION */
/* SECTION inizio seconda SECTION */

.second-section{
    width: 100%;
    height: 1800px;
    position: relative;
}

    .second-section-title{
        position: absolute;
        width: auto;
        height: 50px;
        font-size: 3em;
        text-align: center;
        vertical-align: middle;
        left: 0%;
        right: 0%;
        top: 250px;
    }

    .second-section-input{
        position: absolute;
        width: auto;
        height: 50px;
        margin-left: 15px;
        margin-top: 30px;
        font-size: 1.1em;
        top: 310px;
        left: 450px;
    }

.second-section-plan{
    height: 900px;
    display: flex;
    width: 1300px;
    margin-left: 25%;}

    .second-section-left{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;}

    .second-section-middle{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;
        margin-left: 50px;}

    .second-section-right{
        height: 900px;
        width: 400px;
        display: inline-block;
        border: 1px solid black;
        margin-left: 50px;}

    .second-section-left-header{
        font-size: 2em;
        border-bottom: 1px solid black;
        text-align: center;
        padding: 3px;
}

.free-try{
    background-color: blue;
    text-align: center;
    padding: 15px;
    width: 300px;
    margin-left: 5px;
}

.free-try a{
    color: white;
    text-decoration: none;
}

.buy-now a{
    color: blue;
}
    .second-section-left-body{
        margin-left: 10%;
        margin-top: 3%;
    }

    .list-text-check{
        display: flex;
        margin-bottom: 25px;}

            .check{
                height: 20px;
                width: 5%;
                color: blue;}
            .text-check{
                height: 20px;
                width: 80%;}

/* ANCHOR - FOOTER second section */
/* FIXME - aggiustare altezza "footer-second-section" */
.footer-second-section{
    width: 1300px;
    height: 350px;
    border: 1px solid black;
    margin-top: 25px;
    width: 1300px;
    margin-left: 25%;}

    .footer-second-section-header{
        text-align: center;
        font-size: 1.1em;
        height: 13%;
        border-bottom: 1px solid black;
        padding: 5px;}

    .footer-second-section-header-left{
        float: left;
        width: 68%;
        height: 87%;
        padding: 30px;}

    .footer-second-section-header-right{
        float: right;
        width: 32%;
        height: 10%;
        text-align: center;
        padding: 8px;
        background-color: blue;
        color: white;
        margin-top: 2%;}
        .footer-second-section-header-right a{
            color: white;
            text-decoration: none;}

 /* !SECTION */
/* SECTION  - Inizio third-SECTION */
.third-section{
    width: 1300px;
    margin-left: 25%;
    height: 500px;
    display: flex;}

    .third-section-left{
        width: 50%;
        height: 100%;
        background-image: url('./img/partner.png');
        background-repeat: no-repeat;
        background-size: contain;}

    .third-section-right{
        width: 30%;
        height: 50%;
        margin-top: 30px;}

        .third-section-right h3{
            font-size: 1em;}

        .third-section-right-button{
            border: 1px solid black;
            padding: 10px;
            text-align: center;
            width: 45%;}

        .third-section-right-button a{
            text-decoration: none;}

/* !SECTION */
/* SECTION - Inizio fourth-section */
.fourth-section{
    width: 1300px;
    margin-left: 25%;
    margin-top: 75px;
    height: 1500px;
    border: 1px solid black;
    background-color: antiquewhite;}

/* NOTE - fourth-section common */
.block-dim{
    width: calc(100% / 3);


}
/* FIXME - l'altezza rompe in basso di 35px */
    .fourth-section-header{
        width: 100%;
        height: 40px;
        padding: 5px;}
    
    .fourth-section_body_row-one{
        display: flex;
        height: 48%;
    }
        .fourth-section_body_row-one_left{
            background-color: red;
        }
            .fourth-section_body_row-one_left_img{
                background-image: url(./img/business-feature-switching-tools.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;
            }

        .fourth-section_body_row-one_middle{
            background-color: rgb(222, 236, 25);
            margin-left: 10px;
        }
            .fourth-section_body_row-one_middle_img{
                background-image: url(./img/business-feature-coordinate-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;
            }

        .fourth-section_body_row-one_right{
            background-color: rgb(250, 192, 1);
            margin-left: 10px;}

            .fourth-section_body_row-one_right_img{
                background-image: url(./img/business-feature-multi-device.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

    .fourth-section_body_row-two{
        display: flex;
        height: 48%;}

        .fourth-section_body_row-two_left{
            background-color: rgb(52, 8, 248);}

            .fourth-section_body_row-two_left_img{
                background-image: url(./img/business-feature-integrations-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

        .fourth-section_body_row-two_middle{
            background-color: rgb(139, 223, 238);
            margin-left: 10px;}

            .fourth-section_body_row-two_middle_img{
                background-image: url(./img/business-feature-send-files-it.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

        .fourth-section_body_row-two_right{
            background-color: rgb(250, 80, 1);
            margin-left: 10px;}

            .fourth-section_body_row-two_right_img{
                background-image: url(./img/business-feature-security.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
                height: 80%;}

/* !SECTION */

/* SECTION START Fifth SECTION */
/* FIXME Caratteri e colori */
.fifth-section{
    border: 1px solid rgb(8, 8, 8);
    width: 1300px;
    margin-left: 25%;
    /* height: 150px; */
    /* margin-top: 50px; */
}

.fifth-section_Header{
    margin-left: 25%;
    margin-top: 50px;
    width: 1300px;
    border: 1px solid black;

}

/* ANCHOR - BORDER di Prova */
/* .try-border{
    border: 1px solid red;
    height: 400px;
    width: calc(100%/2);
} */


.fifth-section_cont-img{
    border: 1px solid rgb(8, 8, 8);
    width: 1300px;
    height: 400px;
    display: flex;
}

    /* ANCHOR fifth-section_cont-img_left */
    .fifth-section_cont-img_left{
        width: calc(100% / 3);
        height: 400px;
        background-color: crimson;
        display: inline-block;
}

        /* ANCHOR fifth-section_cont-img_left_hight */
        .fifth-section_cont-img_left_hight{
            height: 50%;
            background-color: darkorange;
        }
            .fifth-section_cont-img_left_hight_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: black;
            }

            .fifth-section_cont-img_left_hight_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: aqua;
            }

        /* ANCHOR - fifth-section_cont-img_left_low */
        .fifth-section_cont-img_left_low{
            height: 50%;
            background-color: white;}

            .fifth-section_cont-img_left_low_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: rgb(238, 74, 74);
            }

            .fifth-section_cont-img_left_low_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: rgb(80, 238, 66);
            }

    .fifth-section_cont-img_middle{
        width: calc(100% / 3);
        height: 400px;
        background-color: rgb(77, 220, 20);
        display: inline-block;}

    /* ANCHOR fifth-section_cont-img_left */
    .fifth-section_cont-img_right{
        width: calc(100% / 3);
        height: 400px;
        background-color: rgb(4, 0, 255);
        display: inline-block;
    }

        .fifth-section_cont-img_right_hight{
            height: 50%;
            background-color: rgb(17, 17, 16);

        }

            .fifth-section_cont-img_right_hight_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: coral;
            }

            .fifth-section_cont-img_right_hight_right{
                float: right;
                width: 50%;
                height: 100%;
                background-color: burlywood;
            }

        .fifth-section_cont-img_right_low{
            height: 50%;
            background-color: white;
        }
            .fifth-section_cont-img_right_low_left{
                float: left;
                width: 50%;
                height: 100%;
                background-color: rgb(250, 51, 1);

            }

            .fifth-section_cont-img_right_low_right{
                float: left;
                width: 50%;
                height: 100%;
                background-color: rgb(56, 247, 39);

            }

/* ANCHOR - fifth-section_footer */
.fifth-section_footer{
    height: 400px;
    width: 1300px;
    background-color: #B4D0E7;
}
    .fifth-section_footer_left{


    }
    .fifth-section_footer_right{

        
    }